<div class="col-md-4 col-sm-4">
  <div {{action "toggleSelected"}} {{bind-attr class=":child :instrument selected"}}>
    <span class="controls">
      <button {{action "play" bubbles=false}} class="btn btn-success">Play</button>
      <button {{action "nextVisualization" bubbles=false}} class="btn">Next Vis</button>
      {{#if isSaved}}
        [inst link]
      {{else}}
        <button {{action "save" bubbles=false}} class="btn">Save</button>
      {{/if}}
      <span {{action makeLive  bubbles=false}} class="liveToggle">
        <span {{bind-attr class=":liveIcon isLive:active"}}></span>
        <span class="liveHotkey">{{liveHotkey}}</span>
      </span>
    </span>
    <div class="visualizer">
    </div>
  </div>
  <div class="lastMutation">
      {{lastMutation}}
    </div>
</div>