<div class="col-md-4 col-sm-4">
  <div {{action "toggleSelected"}} {{bind-attr class=":instrument selectable selected"}}>
    <span class="controls">
      <i {{action "play" bubbles=false}} class="fa fa-play fa-2x fa-fw control"></i>
      <i {{action "toggleNetwork" bubbles=false}} {{bind-attr class=":fa :fa-sitemap :fa-2x :fa-fw :control isShowingNetwork:active"}}></i>
      {{#if isSaved}}
        {{#link-to "instrument" instrumentModel}}
          <i class="fa fa-gear fa-2x fa-fw control"></i>
        {{/link-to}}
      {{else}}
        <i {{action "save" bubbles=false}} class="fa fa-floppy-o fa-2x fa-fw control"></i>
      {{/if}}
      <span {{action makeLive bubbles=false}} class="liveToggle">
        <span {{bind-attr class=":liveIcon isLive:active"}}></span>
        <span class="liveHotkey"></span>
      </span>
      {{#if instrumentModel.isPrivate}}
        <i class="fa fa-lock fa-fw pull-right locked" title="Not Published"></i>
      {{/if}}
    </span>
    <div class="visualizer">
    </div>
    <div class="bottomControls">
      <i class="fa fa-star-o fa-2x fa-fw pull-right" title="Not Published"></i>
    </div>
  </div>
  {{#if showAdvanced}}
    <div class="lastMutation">
      {{lastMutation}}
    </div>
  {{/if}}
</div>
