<div class="onscreenKeyboardSpacer"></div>
<div class="onscreenKeyboard" {{action "hotkeyPlayNote" on="keyDown"}}>

  <div class="whiteKeys">
    {{piano-key note="c4"  hotkey="a" colemakHotkey="a" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="d4"  hotkey="s" colemakHotkey="r" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="e4"  hotkey="d" colemakHotkey="s" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="f4"  hotkey="f" colemakHotkey="t" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="g4"  hotkey="g" colemakHotkey="d" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="a4"  hotkey="h" colemakHotkey="h" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="b4"  hotkey="j" colemakHotkey="n" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="c5"  hotkey="k" colemakHotkey="e" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="d5"  hotkey="l" colemakHotkey="i" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="e5"  hotkey=";" colemakHotkey="o" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="f5"  hotkey="'" colemakHotkey="'" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="g5"  hotkey=""  colemakHotkey=""  hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="a5"  hotkey=""  colemakHotkey=""  hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="b5"  hotkey=""  colemakHotkey=""  hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
  </div>

  <div class="blackKeys">
    {{piano-key note="c4#" hotkey="w" colemakHotkey="w" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="d4#" hotkey="e" colemakHotkey="f" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    <span class="blank"></span>
    {{piano-key note="f4#" hotkey="t" colemakHotkey="g" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="g4#" hotkey="y" colemakHotkey="j" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="a4#" hotkey="u" colemakHotkey="l" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    <span class="blank"></span>
    {{piano-key note="c5#" hotkey="o" colemakHotkey="y" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="d5#" hotkey="p" colemakHotkey=";" hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    <span class="blank"></span>
    {{piano-key note="f5#" hotkey="]"  colemakHotkey="]"  hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="g5#" hotkey=""  colemakHotkey=""  hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
    {{piano-key note="a5#" hotkey=""  colemakHotkey=""  hotkeyLayout=selectedHotkeyLayout instrumentNetwork=instrumentNetwork sustaining=sustaining}}
  </div>

  <div class="onscreenPianoControls">
    <span class="controlLabel">Hotkey Layout</span><br>
    {{view "select"
       content=hotkeyLayouts
       optionValuePath="content.accessor"
       optionLabelPath="content.type"
       value=selectedHotkeyLayout}}
    <br>
    <br>
    <button type="button"
      {{action toggleSustain}}
      {{bind-attr class=":btn :btn-primary :btn-xs sustaining:active"}}>Sustain "<span class="glyphicon glyphicon-arrow-up"></span>"</button>
  </div>
</div>
