
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}
        <img src="./assets/img/logo_small.png" alt="GenSynth Logo" class="logo"/>
        <span class="title">GenSynth</span>
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {{bind-attr class="evolvePageIsActive:active"}} data-title="Evolve Your Own Instruments">
          {{#link-to "evolve"}}
            <span class="glyphicon glyphicon-plus-sign"></span> Evolve
          {{/link-to}}
        </li>

        {{#if session.isAuthenticated}}
          <li {{bind-attr class="userPageIsActive:active"}}>
            {{#link-to "user" currentUser}}
              <span data-title="View Your Saved Instruments"><span class="glyphicon glyphicon-user"></span> My Instruments</span>
              {{#if hasUnpublishedInstruments}}
                <span {{action 'unpublishedBadge'}} class="badge" data-title="You have unpublished instruments">{{currentUser.unpublishedCount}} Unpublished</span>
              {{/if}}
            {{/link-to}}
          </li>
        {{/if}}

        <li {{bind-attr class="searchPageIsActive:active"}} data-title="Search For Published Instruments">
          {{#link-to "search"}}
            <span class="glyphicon glyphicon-search"></span> Search
          {{/link-to}}
        </li>

        <li {{bind-attr class="feedbackPageIsActive:active"}} data-title="Leave Us Feedback">
          {{#link-to "feedback"}}
            Feedback
          {{/link-to}}
        </li>

        {{#if session.isAuthenticated}}
          <li>
            <a {{ action 'logout' }} data-title="Log out">Logout ({{currentUser.username}})</a>
          </li>
        {{else}}
          <li>
            <a {{ action 'showLogin' 'loginClick'}} data-title="Log in">Login</a>
          </li>
        {{/if}}

        <li>
          <a {{action "toggleHelp"}} class="topLinkIcon" data-title="Help">
            <i class="fa fa-question-circle fa-2x fa-fw"></i>
          </a>
        </li>
        <li>
          <a {{action "toggleSettings"}} class="topLinkIcon" data-title="Settings">
            <i class="fa fa-gear fa-2x fa-fw"></i>
          </a>
        </li>

        <li class="fixed-height">
          <div class="addthis_sharing_toolbox"></div>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="mainContent">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</div>

<footer class="page">
  <p>© 2014 davidlukerice · Code licensed under <a href="https://github.com/davidlukerice/genSynth/blob/master/LICENSE" target="_blank">MIT</a>.</p>
  <ul>
    <li><a href="https://github.com/davidlukerice/genSynth" target="_blank">GenSynth v0.4.2</a></li>
    <li>·</li>
    <li><a href="https://github.com/davidlukerice/asNEAT" target="_blank">asNEAT v0.4.7</a></li>
    <li>·</li>
    <li><a href="https://github.com/davidlukerice/asNEAT-visualizer" target="_blank">asNEAT-visualizer v0.4.7</a></li>
  </ul>
  <ul>
    <li>Last Modified 2014/10/27</li>
    <li>·</li>
    <li>{{#link-to "credits"}}Credits{{/link-to}}</li>
    <li>·</li>
    <li>{{#link-to "terms"}}Privacy &amp; Terms{{/link-to}}</li>
  </ul>
</footer>

<button {{action "panic" true}} class="btn btn-warning title-above title-left-2x panic" data-title="Stops Current Sound">Kill Sound!</button>

{{feature-detector}}

{{#if showLogin}}
  <div class="modal" {{action 'hideLogin' true bubbles=false}}>
    <div class="modal-dialog" {{action 'captureAction' bubbles=false}}>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" {{action 'hideLogin' true}}><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body login-dialog clearfix">
          <div class="lhs pull-left">
            <button type="button" class="btn btn-primary" {{action "facebookLogin"}}>Facebook</button>
            <br><br>
            {{input type="text" maxlength=30 value=loginEmail placeholder="Email Address" class="form-control" action="emailLogin"}}
            {{input type="password" maxlength=30 value=loginPassword placeholder="Password" class="form-control" action="emailLogin"}}
            <button type="button" class="btn btn-default" {{action "emailLogin"}}>Login</button>
            {{#if loginError}}
              <br><div class="label label-danger">{{loginError}}</div>
            {{/if}}
          </div>
          <div class="rhs pull-right">
            <h4>Create an account</h4>
            {{input type="text" maxlength=30 value=createEmail placeholder="Email Address" class="form-control" action="createAccount"}}
            {{input type="password" maxlength=30 value=createPassword placeholder="Password" class="form-control" action="createAccount"}}
            {{input type="password" maxlength=30 value=createConfirmPassword placeholder="Confirm Password" class="form-control" action="createAccount"}}
            <div>
              {{#if createAcceptToS}}
                <input type="checkbox" checked {{action 'toggleCreateAcceptToS'}}> I Agree to <span class="toggleText" {{action "openTerms"}}>Privacy &amp; Terms</span>
              {{else}}
                <input type="checkbox" {{action 'toggleCreateAcceptToS'}}> I Agree to <span class="toggleText" {{action "openTerms"}}>Privacy &amp; Terms</span>
              {{/if}}
            </div>
            <button type="button" class="btn btn-default" {{action "createAccount"}}>Create Account</button>
            {{#if createError}}
              <br><div class="label label-danger">{{createError}}</div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{#if showSettings}}
  <div class="genSynthModal">
    <div class="modalContent">
      <span class="toggleText pull-right" {{action "toggleSettings"}}>Close</span>
      <h4>
        <span class="glyphicon glyphicon-cog"></span> Settings
      </h4>

      Volume {{volume}}%<br>
      {{input type="range" value=globalGainLevel min=minGlobalGainLevel max=maxGlobalGainLevel step="0.01"}}<br>
      Inputs<br>
      <button type="button"
        {{action toggleOnscreenPiano}}
        {{bind-attr class=":btn :btn-primary :btn-xs usingOnscreenPiano:active"}}>Onscreen Piano</button><br>
      <br>

      <button type="button"
        {{action toggleMIDI}}
        {{bind-attr class=":btn :btn-primary :btn-xs usingMIDI:active"}}>MIDI</button><br>
      {{#if usingMIDI}}
        {{midi-selector midiSelectable=this}}
      {{/if}}
      <span class="label label-warning">Note</span> Requires <a href="chrome://flags/#enable-web-midi" target="_blank">chrome://flags/#enable-web-midi</a> enabled on Chrome or the <a href="http://jazz-soft.net/" target="_blank">Jazz-plugin</a>. If no devices show above after plugging in a MIDI device, try restarting the browser.<br>
    </div>
  </div>
{{/if}}

{{#if showHelp}}
  <div class="genSynthModal">
    <div class="modalContent">
      <span class="toggleText pull-right" {{action "toggleHelp"}}>Close</span>
      <h4>
        <span class="glyphicon glyphicon-question-sign"></span> Help
      </h4>
      <p>
        Best expience with latest version of <a href="https://www.google.com/chrome" target="_blank">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>.<br>
        If something breaks or doesn't make sense, <a {{action "letUsKnow"}}>let us know</a>!<br><br>

        GenSynth allows you to evolve your own musical instruments. Any published instrument can be branched off of and further evolved by pressing an <i class="fa fa-code-fork fa-2x fa-fw control"></i> icon.
        You can evolve one from scratch on the <span class="link" {{action "evolveAnInstrument"}}><span class="glyphicon glyphicon-plus-sign"></span> Evolve</span> page.<br>

        Pressing the <i class="fa fa-keyboard-o fa-2x fa-fw control liveIcon" title="Connect Onscreen/MIDI keyboards"></i> for an instrument makes it Live <i class="fa fa-keyboard-o fa-2x fa-fw control liveIcon live" title="Connect Onscreen/MIDI keyboards"></i>, letting you play that instrument with either the onscreen piano or through MIDI.<br>
        Both the onscreen piano and MIDI can be turned on or off in settings <span class="toggleIcon" {{action "toggleSettings"}}><span class="glyphicon glyphicon-cog"></span></span>.<br>
      </p>
      <br>
      <h4>Evolving New Instruments</h4>
      <p>
        On the <span class="link" {{action "evolveAnInstrument"}}>evolve</span> page, select any instruments that you like and click [NEXT <span class="glyphicon glyphicon-step-forward"></span>] to generate more Instruments.<br>
        Click [<span class="glyphicon glyphicon-refresh"></span> REFRESH] to regenerate the current generation.<br>
        [<span class="glyphicon glyphicon-step-backward"></span> BACK] will return to the previous set of parents but will delete the current parents.<br>
        After saving (<i class="fa fa-floppy-o fa-fw"></i>) an instrument, you can view its details (<i class="fa fa-sitemap fa-fw"></i>) and publish it for others to see!
      </p>
      <h4>Hotkeys</h4>
      <p>
        - : Back<br>
        * : Refresh<br>
        + : Next<br>
        "Enter" : Select Current Live Instrument<br>
        1-9 : Select Child Instrument as Live <span class="liveToggle"><span class="liveIcon active"></span></span><br>
        "Shift" : Sustain Onscreen Piano<br>
        a,s,d... : Play Onscreen Piano notes (written on each key)
      </p>
    </div>
  </div>
{{/if}}

{{#if usingMIDI}}
  {{midi-piano
    instrumentNetwork=activeInstrument.instrumentNetwork
    selectedInput=selectedMidiInput}}
{{/if}}

{{#if usingOnscreenPiano}}
  {{onscreen-piano
    instrumentNetwork=activeInstrument.instrumentNetwork}}
{{/if}}
