
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}
        GenSynth
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {{bind-attr class="evolvePageIsActive:active"}}>
          {{#link-to "evolve"}}
            <span class="glyphicon glyphicon-plus-sign"></span> Evolve
          {{/link-to}}
        </li>
        <li {{bind-attr class="userPageIsActive:active"}}>
          {{#link-to "user" 0}}
            <span class="glyphicon glyphicon-plus-user"></span> My Instruments
          {{/link-to}}
        </li>

        {{!-- disable for submission
        <li><a href="#">(?) Find</a></li>
        <li><a href="#">(m) My Sounds</a></li>
        --}}
        
        <li {{bind-attr class="feedbackPageIsActive:active"}}>
          {{#link-to "feedback"}}
            Feedback
          {{/link-to}}
        </li>
        {{!--
        <li>[Fb] [G+] [Tw]</li>
        --}}

        {{#if session.isAuthenticated}}
          <li>
            <a {{ action 'invalidateSession' }}>Logout</a>
          </li>
        {{else}}
          <li>
            <a {{ action 'showLogin' }}>Login</a>
          </li>
        {{/if}}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="mainContent">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</div>

{{#if showLogin}}
  <div class="modal" {{action 'hideLogin' bubbles=false}}>
    <div class="modal-dialog" {{action 'showLogin' bubbles=false}}>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" {{action 'hideLogin'}}><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-primary" {{action "authenticate" "facebook-connect"}}>Facebook</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" {{action 'hideLogin'}}>Close</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}