
<div class="evolver">
  {{#if hasParents}}
    <div class="row">
      <div class="col-md-12">
        <h3>Last Selected Instruments <button {{action "resetParents"}} class="btn btn-primary" data-title="Evolves a new Instrument from Scratch" style="position:relative;">Clear</button></h3>
      </div>
    </div>
    <div class="row instruments">
      {{#each parentInstrumentParams}}
        {{instrument-component
          instrumentNetwork=this.instrumentNetwork
          selected=this.selected
          isLive=this.isLive
          index=this.index
          selectable=true
          instrumentModel=this.instrumentModel
          branchedParent=controller.branchedParent
          makeLiveHandler="makeLive"}}
      {{else}}
        <div class="col-md-12">
          No Parent Instruments
        </div>
      {{/each}}
    </div>
    <br>
  {{/if}}
  <div class="row">
    <div class="col-md-12">
      <h3>New Instruments <small>Select at least one to evolve next generation</small></h3>
    </div>
  </div>

  <div class="row controls">
    <div class="col-md-12">
      <span class="buttonWrapper title-above title-left" {{bind-attr data-title="previousButtonTooltip"}}>
        <button class="btn btn-primary" {{action "backGeneration"}} {{bind-attr disabled="noPreviousParents"}}><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      </span>
      <span class="buttonWrapper title-above title-left" data-title="Refresh Current Generation">
        <button class="btn btn-primary title-above title-left" {{action "refreshGeneration"}}><span class="glyphicon glyphicon-refresh"></span> REFRESH</button>
      </span>
      <span class="buttonWrapper title-above title-left" {{bind-attr data-title="nextButtonTooltip"}}>
        <button class="btn btn-primary title-above title-left"
                {{action "nextGeneration"}}
                {{bind-attr disabled="noNetworksSelected"}}>
            NEXT <span class="glyphicon glyphicon-step-forward"></span>
        </button>
      </span>
      <div class="advanced">
        {{input type="checkbox" checked=showingAdvancedOptions}} More Options
      </div>
    </div>
    {{#if showingAdvancedOptions}}
      <div class="col-md-12 advancedOptions">
        <div class="row">
          <div class="col-md-4 title-above" data-title="Don't Evolve New Instrument Hardware">
            {{input type="checkbox" checked=freezeTopology}} Lock Hardware
          </div>
          <div class="col-md-4 title-above title-left" data-title="How Much To Change Each Generation">
            {{input type="range"
                    min="0"
                    max="1"
                    step="0.05"
                    value=mutationDistance
                    focus-out="mutationDistanceBlur"}} Mutation Amount
          </div>
        <div>
      </div>
    {{/if}}
  </div>

  <div class="row children">
    {{#each childInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        selectable=true
        instrumentModel=this.instrumentModel
        branchedParent=controller.branchedParent
        showAdvanced=controller.showingAdvancedOptions
        makeLiveHandler="makeLive"}}
    {{else}}
      <div class="col-md-4">
        <div class="child">
          No children instruments
        </div>
      </div>
    {{/each}}
  </div>
</div>
