
<div class="evolver">
  <div class="row">
    <div class="col-md-12">
      <h3>Parent Instruments <button {{action "resetParents"}} class="btn btn-primary" >Reset</button></h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each parentInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        selectable=true
        instrumentModel=this.instrumentModel
        branchedParent=controller.branchedParent
        makeLiveHandler="makeLive"}}
    {{else}}
      <div class="col-md-12">
        No Parent Instruments
      </div>
    {{/each}}
  </div>

  <br>
  <div class="row">
    <div class="col-md-12">
      <h3>Children Instruments <small>Select at least one to evolve next generation</small></h3>
    </div>
  </div>

  <div class="row controls">
    <div class="col-md-12">
      <button class="btn btn-primary" {{action "backGeneration"}} {{bind-attr disabled="noPreviousParents"}}><span class="glyphicon glyphicon-step-backward"></span> BACK</button>
      <button class="btn btn-primary" {{action "refreshGeneration"}}><span class="glyphicon glyphicon-refresh"></span> REFRESH</button>
      <button class="btn btn-primary" {{action "nextGeneration"}} {{bind-attr disabled="noNetworksSelected"}}>NEXT <span class="glyphicon glyphicon-step-forward"></span></button>
      <div class="advanced">
        {{input type="checkbox" checked=showingAdvancedOptions}} Advanced
      </div>
    </div>
    {{#if showingAdvancedOptions}}
      <div class="col-md-12">
        Change Amount <input type="range" min="0" max="1" disabled>
      </div>
    {{/if}}
  </div>

  <div class="row children">
    {{#each childInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        selectable=true
        instrumentModel=this.instrumentModel
        branchedParent=controller.branchedParent
        showAdvanced=showingAdvancedOptions
        makeLiveHandler="makeLive"}}
    {{else}}
      <div class="col-md-4">
        <div class="child">
          No children instruments
        </div>
      </div>
    {{/each}}
  </div>
</div>
