
<div class="index">
  <p>
    GenSynth: An evolutionary art platform for evolving new synthetic musical instruments.<br>
    Branch of a showcased instrument below or {{#link-to "evolve"}}evolve your own{{/link-to}}!<br><br>

    <span class="label label-warning">Warning</span> You may want to turn down the volume at first. Some of the sounds can be loud and harsh to listen to!<br>
    Press spacebar at any time to cut all sound.
  </p>

  <div class="row">
    <div class="col-md-12">
      <h3>Most Starred Instruments</h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each mostStarredInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"
        analyticsOrigin="showCase"
        analyticsType="mostStar"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Most Branched Instruments</h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each mostBranchedInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"
        analyticsOrigin="showCase"
        analyticsType="mostBranch"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Latest Published Instruments</h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each latestInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"
        analyticsOrigin="showCase"
        analyticsType="latest"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Random Instruments</h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each randomInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"
        analyticsOrigin="showCase"
        analyticsType="random"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>
</div>
