
<div class="index">
  <p>
    GenSynth: An evolutionary art platform for evolving new synthetic musical instruments.<br>
    {{#link-to "evolve"}}Evolve your own{{/link-to}} or branch(<i class="fa fa-fw fa-code-fork"></i>) off a showcased instrument below to begin.<br>
    See <a class="link" {{action "toggleHelp"}}>help</a> for more information.<br><br>

    <span class="label label-warning">Warning</span> You may want to turn down the volume at first. Some of the sounds can be loud and harsh to listen to!<br>
    Press spacebar at any time to cut all sound.
  </p>

  <div class="row">
    <div class="col-md-12">
      <h3>Most Starred Instruments <small>Show your interest in an instrument by clicking its <i class="fa fa-fw fa-star-o"></i></small></h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each mostStarredInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"
        analyticsOrigin="showCase"
        analyticsType="mostStar"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Most Branched Instruments <small>Branch(<i class="fa fa-fw fa-code-fork"></i>) an instrument to generate new instruments from it.</small></h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each mostBranchedInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"
        analyticsOrigin="showCase"
        analyticsType="mostBranch"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Latest Published Instruments <small>Publish saved(<i class="fa fa-fw fa-floppy-o"></i>) instruments so others can try them out!</small></h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each latestInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"
        analyticsOrigin="showCase"
        analyticsType="latest"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Random Instruments <small>{{#link-to "evolve"}}Evolve{{/link-to}} new instruments!</small></h3>
    </div>
  </div>
  <div class="row instruments">
    {{#each randomInstrumentParams}}
      {{instrument-component
        instrumentNetwork=this.instrumentNetwork
        selected=this.selected
        isLive=this.isLive
        index=this.index
        instrumentModel=this.instrumentModel
        makeLiveHandler="makeLive"
        analyticsOrigin="showCase"
        analyticsType="random"}}
    {{else}}
      <div class="col-md-12">
        None
      </div>
    {{/each}}
  </div>
</div>
