
<div class="index">
  <div class="row">
    <div class="col-md-12">
      <h3>{{user.username}}</h3>
    </div>
  </div>
  <h3>{{instrument.name}}
    <small> by: {{instrument.user.username}} {{#if instrument.isPrivate}}(private){{/if}}
    </small>
  </h3>

  {{#if instrumentParams}}
    {{instrument-parent
      instrumentNetwork=instrumentParams.instrumentNetwork
      selected=instrumentParams.selected
      isLive=instrumentParams.isLive
      index=instrumentParams.index
      instrumentModel=instrumentParams.instrumentModel
      makeLiveHandler="makeLive"}}
  {{/if}}

  {{#if isCreator}}
    {{#if instrument.isPrivate}}
      <button {{action 'publish'}} class="btn">Publish</button>
    {{else}}
      <button class="btn" disabled>Already Published</button>
    {{/if}}
  {{/if}}
</div>
