
<div class="index">
  {{#if isCreator}}
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              {{input
                value=tempName
                placeholder="Instrument Name"
                maxlength="50"
                class="form-control"}}
            </div>
            {{#if nameHasChanged}}
              <div class="col-md-4 col-sm-4">
                <i {{action "cancelName" bubbles=false}}
                   class="fa fa-times fa-fw control">
                </i>
                {{#if hasName}}
                  <i {{action "saveName" bubbles=false}}
                     class="fa fa-floppy-o fa-fw control">
                  </i>
                {{/if}}
              </div>
            {{/if}}
          </div>
        </h3>
      </div>
    </div>
  {{/if}}
  <div class="row">
    {{#if instrumentParams}}
      {{instrument-component
        instrumentNetwork=instrumentParams.instrumentNetwork
        selected=instrumentParams.selected
        isLive=instrumentParams.isLive
        index=instrumentParams.index
        instrumentModel=instrumentParams.instrumentModel
        makeLiveHandler="makeLive"}}
    {{/if}}
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="addthis_sharing_toolbox"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      {{#if isCreator}}
        <div class="row">
          <div class="col-md-4 col-sm-4">
            {{tag-it
              tags=splitTempInstrumentTags
              tagAdded="addTempTag"
              tagRemoved="removeTempTag"}}
          </div>
          {{#if tagsHaveChanged}}
            <div class="col-md-4 col-sm-4">
              <i {{action "cancelTags" bubbles=false}} class="fa fa-times fa-2x fa-fw control"></i>
              <i {{action "saveTags" bubbles=false}} class="fa fa-floppy-o fa-2x fa-fw control"></i>
            </div>
          {{/if}}
        </div>
      {{else}}
        {{#each splitTempInstrumentTags}}
          <span class="label label-primary">{{this}}</span>
        {{else}}
          <span class="label label-default">No Tags</span>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      {{#if isCreator}}
        {{#if instrument.isPrivate}}
          <button {{action 'publish'}} class="btn">Publish</button>
          {{#if publishErrorMessage}}
            <span class="label label-danger">{{publishErrorMessage}}</span>
          {{/if}}
        {{else}}
          <button class="btn" disabled>Already Published</button>
        {{/if}}
      {{/if}}
    </div>
  </div>
  {{#if branchedParentParams}}
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <h3>
        Parent Instrument
      </h3>
    </div>
  </div>
  <div class="row">
    {{#if branchedParentParams}}
      {{instrument-component
        instrumentNetwork=branchedParentParams.instrumentNetwork
        selected=branchedParentParams.selected
        isLive=branchedParentParams.isLive
        index=branchedParentParams.index
        instrumentModel=branchedParentParams.instrumentModel
        makeLiveHandler="makeLive"}}
    {{/if}}
  </div>
  {{/if}}
  {{#if isPublished}}
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h3>Children Instruments</h3>
      </div>
    </div>
    <div class="row">
      {{#each branchedChildrenParams}}
        {{instrument-component
          instrumentNetwork=this.instrumentNetwork
          selected=this.selected
          isLive=this.isLive
          index=this.index
          instrumentModel=this.instrumentModel
          makeLiveHandler="makeLive"}}
      {{else}}
        <div class="col-md-4 col-sm-4">
          <h4>{{#link-to "branch" instrument}}
            <i class="fa fa-code-fork fa-fw control" title="New Branched Child"></i> <span class="control">Branch first child!</span>
          {{/link-to}}
          </h4>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
