
<div class="index">
  <div class="row">
    <div class="col-md-12">
      <h3>{{user.username}}</h3>
    </div>
  </div>
  <h3>
    {{#if isCreator}}
      {{input value=tempName placeholder="Instrument Name" maxlength="50"}}
      {{#if nameHasChanged}}
      <i {{action "cancelName" bubbles=false}} class="fa fa-times fa-fw control"></i>
        {{#if hasName}}
          <i {{action "saveName" bubbles=false}} class="fa fa-floppy-o fa-fw control"></i>
        {{/if}}
      {{/if}}
    {{else}}
      {{instrument.name}}
    {{/if}}
    <small> by: {{instrument.user.username}} {{#if instrument.isPrivate}}(private){{/if}}
    </small>
  </h3>
  <div class="row">
    <div class="col-md-12">
      {{#if instrumentParams}}
        {{instrument-parent
          instrumentNetwork=instrumentParams.instrumentNetwork
          selected=instrumentParams.selected
          isLive=instrumentParams.isLive
          index=instrumentParams.index
          instrumentModel=instrumentParams.instrumentModel
          makeLiveHandler="makeLive"}}
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#if isCreator}}
        {{tag-it tags=splitTags tagAdded="addTempTag"}}
        {{#if tagsHaveChanged}}
          <i {{action "cancelTags" bubbles=false}} class="fa fa-times fa-fw control"></i>
          <i {{action "saveTags" bubbles=false}} class="fa fa-floppy-o fa-fw control"></i>
        {{/if}}
      {{else}}
        {{#each splitTags}}
          <span class="label label-primary">{{this}}</span>
        {{else}}
          <span class="label label-default">No Tags</span>
        {{/each}}
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#if isCreator}}
        {{#if instrument.isPrivate}}
          <button {{action 'publish'}} class="btn">Publish</button>
          {{#if publishErrorMessage}}
            <span class="label label-danger">{{publishErrorMessage}}</span>
          {{/if}}
        {{else}}
          <button class="btn" disabled>Already Published</button>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
