
<div class="index">
  <div class="row">
    <div class="col-md-12">
      <h3>
        {{#if isCurrentUser}}
          Your Instruments
        {{else}}
          {{user.username}}&#39;s Instruments
        {{/if}}
        {{instrument-sorting
          sorting=sorting
          changeSortingHandler="changeSortingHandler"}}
      </h3>
    </div>
  </div>
  {{instrument-pagination
    page=page
    numInstruments=numInstruments
    changePageHandler="changePageHandler"}}
  <div class="row instruments">
    {{#with this as controller}}
      {{#each instrumentParams}}
        {{instrument-component
          instrumentNetwork=this.instrumentNetwork
          selected=this.selected
          isLive=this.isLive
          index=this.index
          instrumentModel=this.instrumentModel
          makeLiveHandler="makeLive"
          analyticsOrigin="userPage"
          analyticsType=controller.isCurrentUser
          analyticsOptionalValue=controller.page}}
      {{else}}
        <div class="col-md-12">
          {{#if isCurrentUser}}
            None
            {{#link-to 'evolve'}}
              Create an Instrument
            {{/link-to}}
          {{else}}
            None
          {{/if}}
        </div>
      {{/each}}
    {{/with}}
  {{instrument-pagination
    page=page
    numInstruments=numInstruments
    changePageHandler="changePageHandler"}}
  </div>
</div>
